<h2>Confirmation</h2>

<b>First Name:</b><%=@user.first_name%><br>
<b>Last Name:</b><%=@user.last_name%><br>

<b>Phone Number:</b><%=@user.phone_number%><br>
<b>Email:</b><%=@user.email%>
<div class="field">
    <b>Buyer and Saller</b><br />
         <%=f.input :avatar ,lable_html:{class:"form-lable",for:"formFile"}   %>
    <div class="form-check">
        <%= f.label "Buyer",class:"form-check-label",for:"flexRadioDefault1" %>
        <%= f.check_box :buyer,class: "form-check-input mt-0",type:"radio" ,name:"flexRadioDefault",id:"flexRadioDefault1"%> 
    </div>
    <div class="form-check">
        <%= f.label "Saller",class:"form-check-label",for:"flexRadioDefault2" %>
        <%= f.check_box :saller,class: "form-check-input mt-0",id:"flexRadioDefault2" %> 
    </div>
</div>