
<h2>All Orders</h2>

<div class="container card">

  <% @orders.each do |order| %>
  <%if current_user.id == order.user_id%>
  <h1>hurray you have orderd successfully</h1>
    <p>Name: <%= order.name %></p>
    <p>Email: <%= order.email %></p>
    <p>Address: <%= order.address %></p>
    <p>Product Detail: </p> 
    <% order.line_items.each do |p|%>
    <div class="card-body">
      <h5 class="card-title"><%=p.product.title%></h5>
      <p class="card-text"><%=p.product.price%></p>
      <p class="card-text"><%=p.quantity%></p>

    </div>
    <span><b>Paid Status: </b></span><%=order.is_paid%>
  <%end%>
  <hr>
  <%end%>

  <%end%>
</div>
