<%@carts.each do |cart|%>

<tr>
    <td>
        <%=cart.product.title%>
    </td>
    <td>
        <%=cart.product.price%>
    </td>
    <td>
        1
    </td>
    <td>
        <%=cart.product.price%>
    </td>
     <td>
         <%=button_to "Remove" , "/users/#{current_user.id}/carts/#{cart.id}",method: :delete ,class:"btn btn-danger"%>
    </td>
     <td>
       <%=button_to 'Buy Now',checkout_create_path,method: :post,params:{id: cart.product.id},remote: true%>
        <%=link_to "Buy" ,"/users/#{current_user.id}/order",method: :get,params:[product_id:cart.product.id],class:"btn btn-success"%>
    </td>
</tr>
<%end%>
<tr>
    <td collapse="3">
    <h5>Total</h5>
    </td>
    <td>
    <%=render "total"%>
    </td>
</tr>
