<%@carts.each do |cart|%>

<tr>
    <td>
        <%=cart.product.title%>
    </td>
    <td>
        <%=cart.product.price%>
    </td>
    <td>
        1
    </td>
    <td>
        <%=cart.product.price%>
    </td>
     <td>
         <%=button_to "Remove" , "/users/#{current_user.id}/carts/#{cart.id}",method: :delete ,class:"btn btn-danger"%>
    </td>
     <td>
        <%=link_to "Buy" ,user_cart_order_path(cart_id:cart.id),method: :post,cart_id: cart.id,class:"btn btn-success"%>
    </td>
</tr>
<%end%>
<tr>
    <td collapse="3">
    <h5>Total</h5>
    </td>
    <td>
    <%=render "total"%>
    </td>
</tr>
