<p id="notice"><%= notice %></p>

<p>
<h1 class="jumbotron">Welcome Shopping App || <%=@category.name%> </h1>
  <div class="container">
  <div class="row">
  <%Product.all.each do |product|%>
  <div class="card my-3">
    <div class="card-body mx-auto d-flex justify-content-between">
    <p class="card-item mx-4"><%=image_tag product.image , height: 200,class:"ml-4"%></p>
        <div class="d-flex flex-column">
      <p class="card-title">Title: <%= product.title %><br/></p >
      
      <p class="card-text">Description:<%= product.description %></p>
     <p class="card-text"> <small>Price:</small><%= product.price %></p>
      
      </div>
      <%# <%debugger %>
    
        </div>
  </div>
<%end%>
</div>
</div>
</p>
