 <div class="d-flex flex-wrap" >
    <%if @searchproducts.empty? %>
        <h1>No Product found</h1>
        <%else%>
            <%@searchproducts.each do |product|%>
                <div class="card d-flex  my-3 mx-3 align-items-center" style="width:20% ; height:450px">
                    <div class="mx-4 d-flex flex-column " >
                        <div class="imageinfo mx-auto my-2">
                           <%if product.image.present?%>
                                <%=image_tag product.image ,class:"card-img-top",width: "100%",alt:"abcd",style:"height:35vh"%>
                            <%else%>
                                <%= image_tag "default/download.jpeg",class:"card-img-top",width: "100%" ,style:"height:35vh"%>
                            <%end%>
                        </div>
                        <div class="information" >
                            <%=link_to "#{product.title}",product_path(product.id)%>
                        <div class="card-body my-2">
                            <b class="card-text"><span>Price:</span><%=product.price%></b>
                        </div>
                        <div class="d-flex wishlist" id='wish_<%=product.id%>'>
                            <%=render "wishlists/toggle",product_id: product.id%>
                        </div>
                        <div class="cart"id="cart_<%=product.id%>">
                              <%# <%=button_to "Add to cart", 'javascript:',onclick:"addtocart(#{product.id})"%>              
                            <%=render "line_items/create",:product_id=> product.id%>
                        </div>
                      </div> 
                    </div>
                </div>
        <%end%>
    <%end%>
    </div>
    <style>
    .wishlist{
        position:absolute;
        top:5px;
        right:10px
        
    }
    .cart{
    position:absolute;
        bottom:10px;
        
    }
    </style>