
<div class="">
    <%Category.where(name: "Fashion").each do |f|%>
        <%f.brands.each do |ff|%>
            <div class="d-flex flex-sm-row ">
                <%ff.products.each do |product|%>
                    <div class="card mx-4" style="width: 18rem;">
                        <%=image_tag product.image, class:"card-img-top",style:"height:40vh" %>
                        <div class="card-body">
                            <h5 class="card-title"><%=product.title%></h5>
                            <p class="card-text"><%=product.description.truncate(100,separator: /\s/)%></p>
                            <%=link_to  "Go To Product" , product_path(product),class:"btn btn-primary goto",style:"color:white"%>
                        </div>
                        <div class="d-flex my-2 wishlist" id='wish_<%=product.id%>'>
                            <%=render "wishlists/toggle",product_id: product.id%>
                        </div>
                    </div>
                <%end%>
            </div>
        <%end%>
    
    <%end%>
</div>
<style>
   .wishlist{
        position:absolute;
        top:5px;
        right:10px
        
    }
    .goto{
        position:absolute;
        bottom: 10px        
    }
</style>