<div class="d-flex flex-wrap ">
<%if user_signed_in? %>
<%=render"index"%>
<%end%>
</div>
<%= will_paginate @products %>
      <%# <%=product.stripe_product_id%>
      <%# <%=product.stripe_price_id%>
       <%# <%=button_to 'Buy Now','javascript:',onclick:"goToCheckout(#{product.id})", id:"checkout-button" %> 
<%# 
<script>
  function addtocart(id){
    console.log("test")
    alert("Adding are good for you!");
    $.ajax({
      url: '/line_items',
      type: 'POST',
      dataType: 'script',
      data: {id: id}
      
    })
  }
</script> %>