<%if user_signed_in? %>
<div class="d-flex flex-wrap mx-3">
<%@products.each do |product|%>
    <%# <%=product.title%>
   <div class="card mx-4 my-3" style="width: 18rem;">
     <%if product.image.present?%>
      <%=image_tag product.image ,class:"card-img-top",width: "286px",height: '200px',alt:"abcd"%>
      <%else%>
        <%= image_tag "default/download.jpeg",class:"card-img-top",width: "286px",height: '200px' %>
      <%end%>
    <div class="card-body">
      <p class="card-text"><%=product.description%>.</p>
    </div>
     <div class="card-body">
      <b class="card-text"><span>Price:</span><%=product.price%>.</b>
    </div>
      <%=link_to "#{product.title}",product_path(product.id)%>
    <div class="d-flex " id='wish_<%=product.id%>'>
       <%# <%debugger%> 
      <%=render "wishlists/toggle",product_id: product.id%>
      
      <div class="d-flex " id='wish_<%=product.id%>'>
       <%= button_to "Add Cart", user_carts_path(user_id: current_user.id,product_id: product.id), :method => :post %>  
       </div>
       <%=button_to 'Buy Now',checkout_create_path,method: :post,params:{id: product.id},remote: true%>
       </div>
    </div>
<%end%>
</div>
<%end%>