<div class="container mx-auto">
<p id="notice"><%= notice %></p>

<p>
  <h1>Product Details:</h1><br/>
    <%=image_tag @product.image , height: 300%><br/>
  <span>Title:</span>
  <%= @product.title %><br/>
  <span>Description:</span>
  
  <%= @product.description %><br/>
  <span>Price:</span>
  
  <%= @product.price %>
  <%# <%debugger %>


</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>