<p id="notice"><%= notice %></p>

<p>
  <strong>Product Details:</strong><br/>
  <span>Title:</span>
  <%= @product.title %><br/>
  <span>Description:</span>
  
  <%= @product.description %><br/>
  <span>Price:</span>
  
  <%= @product.price %>
  <%# <%debugger %>

    <%=image_tag @product.image , height: 300%>

</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
