<div class="container mx-auto">
<p id="notice"><%= notice %></p>

<p>
  <h1>Product Details:</h1><br/>
     <%if @product.image.present?%>
      <%=image_tag @product.image ,class:"card-img-top",width: "0px",height: '386px',alt:"abcd"%>
      <%else%>
        <%= image_tag "default/download.jpeg",class:"card-img-top",width: "386px",height: '400px' %>
      <%end%>
  <span>Title:</span>
  <%= @product.title %><br/>
  <span>Description:</span>
  
  <%= @product.description %><br/>
  <span>Price:</span>
  
  <%= @product.price %>
  <%# <%debugger %>


</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>