<div id="form_comment">
    <%=form_for(@review,url: product_reviews_path,remote: true,parent_id: @review.id) do |form|%> 
        <div >
            <%=form.hidden_field :user_id ,value: current_user.id%>
            <%=form.hidden_field :parent_id %>
            <%=form.label :review%> 
            <%= form.text_area :review,class:"textarea form-control"%>
             <div class="modal-footer">
            <%=form.submit :review, class:"btn btn-primary my-3" ,id:"Review"%> 
            <div>
        </div>
    <%end%>
    
</div>